body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 3px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.welcome-message {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.logout-btn {
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #c82333;
}

.add-btn {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.mahasiswa h3{
    margin-bottom: 10px;
}

.tombol {
    display: flex;
    gap: 10px;
}

.register-link {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3px;
}

.register-link a {
    color: blue;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.register-link span {
    font-weight: lighter;
    opacity: 50%;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}

.cancel-btn:hover {
    background-color: #c82333;
}